<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_gTTwC9-eSHAFGfJjkpeQdUMivuA60ls</string>
	<key>GCM_SENDER_ID</key>
	<string>10665273158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devabu01.bubu</string>
	<key>PROJECT_ID</key>
	<string>bubu-eb6be</string>
	<key>STORAGE_BUCKET</key>
	<string>bubu-eb6be.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10665273158:ios:13f8576408a6ce1acf2747</string>
</dict>
</plist>